In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import os
import glob
import requests as rq
import wget
import lxml

# --proxy=https://webcache.comp.pge.com:8080

In [59]:
#locations of the outage downloads
path_download='/home/skotsan/Downloads/OUT/'
file_in="\\\\rcshare-nas05\\ElectricGasSupply\\Gas\Models_Tools\\Analysis_Models\\Intermittency_Project\\GasBurnModel\\Model_Enhance\\Inputs\\"
#Definition of functions to clean files

# Checks if the number is a float. Otherwise grabs digits before decimal point and after
def parse_numbers(elem):
    try:
        return float(elem)
    except:
        return float(elem.split('.')[0]+ "." + elem.split('.')[1])

# If the Header is loaded as string prepare the code that eliminates incorrect records    
def parse_string(elem):
    try:
        return float(elem)
    except:
        return 0.0

In [48]:
#Generate Dates 30 days back + 7 Days into the future
numdays=120
base = dt.date.today()-dt.timedelta(days=numdays-1)
date_list = [base + dt.timedelta(days=x) for x in range(0, numdays)]
dates = pd.DataFrame(date_list, columns = ['Date'])
dates1=pd.to_datetime(dates['Date'])
dates['url']='http://content.caiso.com/unitstatus/data/unitstatus' + dates1.dt.strftime('%Y%m%d') + '0830.html'

epoch=len(dates)
dates['url'][0]

'http://content.caiso.com/unitstatus/data/unitstatus201810230830.html'

In [49]:
# Delete files in the directory prior to download
file_list=os.listdir(path_download)
for f in file_list:
    os.unlink(path_download + f)

In [50]:
# Download files
for j in range(epoch):
    file1=wget.download(dates['url'][j], out=path_download)

In [51]:
file_list0830=os.listdir(path_download)
len(file_list0830)

120

In [52]:
Outages_arr2=[]
epoch=len(file_list0830)
for j in range(epoch):
    Outages_new=pd.read_html(path_download + file_list0830[j], skiprows=1)[0]                     
    Outages_new.loc[-1]=Outages_new.columns
    Outages_new.index=Outages_new.index+1
    Outages_new.sort_index()
    Outages_new['Date']=dt.datetime.strptime(file_list0830[j][10:18], '%Y%m%d')
    Outages_arr2.extend(Outages_new.values)

In [60]:
# Capture files in the directory

Outages0830=pd.DataFrame(Outages_arr2)
Outages0830.columns=['Res_ID','Res_Name', 'Outage_Type', 'Capacity', 'Curtailed', 'Zone', 'Date' ]
Outages_clean=pd.DataFrame(index=Outages0830.index, columns=Outages0830.columns)
Outages_clean['Capacity']=Outages0830['Capacity'].apply(lambda x: parse_string(x)).astype(float)
Outages_clean['Curtailed']=Outages0830['Curtailed'].apply(lambda x: parse_string(x)).astype(float)
Outages_clean[['Res_ID','Res_Name', 'Outage_Type', 'Zone', 'Date' ]]=Outages0830[['Res_ID','Res_Name', 'Outage_Type', 'Zone', 'Date' ]]
Outages_clean['LAST_UPDATE']=dt.datetime.now().strftime('%Y-%m-%d %H:%M:%S')

In [14]:
Out_curr = pd.read_csv( file_in + 'out.csv', parse_dates=['Date', 'LAST_UPDATE']).set_index('Date')
Out_curr.append(Outages_clean, sort=True)

,Capacity,Curtailed,Date,LAST_UPDATE,Outage,Outage_Type,Res_ID,Res_Name,Type,Zone
2014-01-01 00:00:00,22.00,NaN,NaN,2018-10-07 22:05:46,6.00,NaN,ADLIN_1_UNITS,GEYSERS AIDLIN AGGREGATE,Planned,ISO
2014-01-01 00:00:00,23.80,NaN,NaN,2018-10-07 22:05:46,23.80,NaN,ALMEGT_1_UNIT 1,ALAMEDA GT UNIT 1,Planned,NP15
2014-01-01 00:00:00,25.40,NaN,NaN,2018-10-07 22:05:46,25.40,NaN,ALMEGT_1_UNIT 2,ALAMEDA GT UNIT 2,Unplanned,NP15
2014-01-01 00:00:00,531.86,NaN,NaN,2018-10-07 22:05:46,73.86,NaN,APEX_2_MIRDYN,APEX_2_MIRDYN,Planned,ISO
2014-01-01 00:00:00,19.00,NaN,NaN,2018-10-07 22:05:46,2.00,NaN,AVENAL_6_SANDDG,Sand Drag Solar Project,Planned,ISO
2014-01-01 00:00:00,20.00,NaN,NaN,2018-10-07 22:05:46,2.00,NaN,AVENAL_6_SUNCTY,Sun City Solar Project,Planned,ISO
2014-01-01 00:00:00,230.00,NaN,NaN,2018-10-07 22:05:46,32.15,NaN,AVSOLR_2_SOLAR,AV SOLAR RANCH 1,Planned,ISO
2014-01-01 00:00:00,33.00,NaN,NaN,2018-10-07 22:05:46,1.20,NaN,BALCHS_7_UNIT 1,BALCH 1 PH UNIT 1,Unplanned,NP15
2014-01-01 00:00:00,428.00,NaN,NaN,2018-10-07 22:05:46,228.00,NaN,BCTSYS_5_PWXDYN,BCTSYS_5_PWXDYN,*Normal,ISO
2014-01-01 00:00:00,22.00,NaN,NaN,2018-10-07 22:05:46,9.00,NaN,BEARCN_2_UNITS,GEYSERS BEAR CANYON AGGREGATE,Planned,ISO
2014-01-01 00:00:00,820.00,NaN,NaN,2018-10-07 22:05:46,820.00,NaN,BIGCRK_2_EXESWD,BIG CREEK HYDRO PROJECT PSP,Planned,SP15
2014-01-01 00:00:00,13.40,NaN,NaN,2018-10-07 22:05:46,2.50,NaN,BISHOP_1_ALAMO,BISHOP CREEK PLANT 2 AND 6,Planned,SP15
2014-01-01 00:00:00,15.80,NaN,NaN,2018-10-07 22:05:46,12.80,NaN,BISHOP_1_UNITS,BISHOP CREEK PLANT 3 AND 4,Planned,SP15
2014-01-01 00:00:00,49.00,NaN,NaN,2018-10-07 22:05:46,2.00,NaN,BLAST_1_WIND,Mountain View IV Wind,Unplanned,ISO
2014-01-01 00:00:00,6.20,NaN,NaN,2018-10-07 22:05:46,6.20,NaN,BLCKBT_2_STONEY,BLACK BUTTE HYDRO,Planned,NP15
2014-01-01 00:00:00,1.00,NaN,NaN,2018-10-07 22:05:46,1.00,NaN,BNNIEN_7_ALTAPH,ALTA POWER HOUSE,Planned,NP15
2014-01-01 00:00:00,51.25,NaN,NaN,2018-10-07 22:05:46,1.83,NaN,BORDER_6_UNITA1,CalPeak Power Border Unit 1,Planned,SP15
2014-01-01 00:00:00,150.00,NaN,NaN,2018-10-07 22:05:46,3.00,NaN,BRDSLD_2_SHILO1,Shiloh I Wind Project,Unplanned,NP15
2014-01-01 00:00:00,150.00,NaN,NaN,2018-10-07 22:05:46,4.00,NaN,BRDSLD_2_SHILO2,SHILOH WIND PROJECT 2,Planned,ISO
2014-01-01 00:00:00,59.00,NaN,NaN,2018-10-07 22:05:46,1.00,NaN,BUCKCK_7_PL1X2,BUCKS CREEK AGGREGATE,Planned,NP15
2014-01-01 00:00:00,92.20,NaN,NaN,2018-10-07 22:05:46,35.20,NaN,CALGEN_1_UNITS,COSO Finance Partners (Navy 1),Planned,SP15
2014-01-01 00:00:00,24.00,NaN,NaN,2018-10-07 22:05:46,24.00,NaN,CAPMAD_1_UNIT 1,CAPCO MADERA Power Plant,Unplanned,NP15
2014-01-01 00:00:00,122.00,NaN,NaN,2018-10-07 22:05:46,8.00,NaN,CARBOU_7_PL4X5,CARIBOU PH 2 UNIT 4 & 5 AGGREGATE,Planned,NP15
2014-01-01 00:00:00,4.83,NaN,NaN,2018-10-07 22:05:46,2.83,NaN,CBRLLO_6_PLSTP1,POINT LOMA SEWAGE TREATMENT PLANT,Planned,SP15
2014-01-01 00:00:00,5.25,NaN,NaN,2018-10-07 22:05:46,2.55,NaN,CCRITA_7_RPPCHF,Rancho Penasquitos Hydro Facility,Planned,SP15
2014-01-01 00:00:00,31.00,NaN,NaN,2018-10-07 22:05:46,31.00,NaN,CENTER_2_QF,CENTER QFS,Unplanned,SP15
2014-01-01 00:00:00,124.87,NaN,NaN,2018-10-07 22:05:46,39.56,NaN,CHEVMN_2_UNITS,CHEVRON U.S.A. UNITS 1 & 2 AGGREGATE,NaN,SP15
2014-01-01 00:00:00,1.50,NaN,NaN,2018-10-07 22:05:46,0.50,NaN,CHILLS_1_SYCENG,Sycamore Energy 1,Planned,ISO
2014-01-01 00:00:00,1.90,NaN,NaN,2018-10-07 22:05:46,0.60,NaN,CHINO_7_MILIKN,MN Milliken Genco LLC,Planned,SP15
2014-01-01 00:00:00,10.80,NaN,NaN,2018-10-07 22:05:46,0.60,NaN,CHWCHL_1_BIOMAS,Chow II Biomass to Energy,Planned,NP15
...,...,...,...,...,...,...,...,...,...,...
6715,24.30,0.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6716,19.00,9.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6717,42.96,0.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6718,46.00,0.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6719,102.18,3.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6720,127.80,4.80,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6721,78.20,9.20,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6722,1.85,1.85,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6723,50.61,2.61,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6724,134.00,10.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6725,36.80,36.80,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6726,59.00,3.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6727,2.33,0.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6728,0.63,0.57,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6729,40.00,40.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6730,96.43,0.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6731,96.91,0.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6732,96.65,0.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6733,96.49,0.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6734,96.65,0.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6735,76.00,76.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6736,14.00,14.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6737,61.50,11.50,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6738,14.50,14.50,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6739,3.20,3.20,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6740,38.00,1.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6741,120.00,4.00,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6742,2.50,1.50,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6743,17.10,17.10,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN
6744,NaN,NaN,NaN,2018-10-17 12:08:18,NaN,NaN,NaN,NaN,NaN,NaN

In [256]:
Out_curr.to_csv(file_in+'Outages_after2014.csv' )